nodered.json
[{"id":"af01c36b.3d1058","type":"tab","label":"Api Conversation"},{"id":"2d848c5.14ec5f4","type":"http in","z":"af01c36b.3d1058","name":"","url":"/chatapi","method":"get","swaggerDoc":"","x":150,"y":80,"wires":[["38a1d509.6f5afa"]]},{"id":"38a1d509.6f5afa","type":"change","z":"af01c36b.3d1058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["d77b0227.cedcd8"]]},{"id":"d77b0227.cedcd8","type":"watson-conversation-v1","z":"af01c36b.3d1058","name":"","workspaceid":"58d941fe-0458-4a98-8825-07334cf0b050","multiuser":true,"context":true,"default-endpoint":false,"service-endpoint":"","x":530,"y":80,"wires":[["49ca7942.7f23a","c6f9db66.120a9","182687f8.763c4"]]},{"id":"182687f8.763c4","type":"http response","z":"af01c36b.3d1058","name":"","x":690,"y":80,"wires":[]},{"id":"49ca7942.7f23a","type":"debug","z":"af01c36b.3d1058","name":"","active":true,"console":"false","complete":"false","x":710,"y":40,"wires":[]},{"id":"3e6e1dc4.64b55a","type":"cloudant out","z":"af01c36b.3d1058","name":"BANCO DE DADOS","cloudant":"89e00c80.c581","database":"chatbot","service":"novo-smazon-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1840,"y":120,"wires":[]},{"id":"d488af70.e74ef","type":"change","z":"af01c36b.3d1058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"input","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":120,"wires":[["8232e926.b446c8"]]},{"id":"b4d3d966.d7ce8","type":"debug","z":"af01c36b.3d1058","name":"","active":true,"console":"false","complete":"true","x":1450,"y":80,"wires":[]},{"id":"273beb84.2ccc7c","type":"function","z":"af01c36b.3d1058","name":"","func":"\nmsg = \n{input: msg.input,\n output: msg.output,\n tone_input: msg.payload\n \n \n};\n \n return msg;","outputs":"1","noerr":0,"x":1650,"y":120,"wires":[["b0307dea.29d1b8","3e6e1dc4.64b55a"]]},{"id":"b0307dea.29d1b8","type":"debug","z":"af01c36b.3d1058","name":"","active":true,"console":"false","complete":"true","x":1790,"y":80,"wires":[]},{"id":"490be746.3cf168","type":"watson-tone-analyzer-v3","z":"af01c36b.3d1058","name":"","tones":"emotion","sentences":"true","contentType":"false","default-endpoint":false,"service-endpoint":"","x":1280,"y":120,"wires":[["def68365.490ba8","b4d3d966.d7ce8"]]},{"id":"8232e926.b446c8","type":"watson-translator","z":"af01c36b.3d1058","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"pt","destlang":"en","password":"CRzvKR88h2Vo","custom":"","domainhidden":"news","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","default-endpoint":false,"service-endpoint":"","x":1070,"y":120,"wires":[["490be746.3cf168"]]},{"id":"def68365.490ba8","type":"change","z":"af01c36b.3d1058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories[0]","tot":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":120,"wires":[["273beb84.2ccc7c"]]},{"id":"c6f9db66.120a9","type":"function","z":"af01c36b.3d1058","name":"","func":"\nmsg = \n{input: msg.payload.input.text,\n output: msg.payload.output.text[0]\n \n \n};\n \n return msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["d488af70.e74ef"]]},{"id":"89e00c80.c581","type":"cloudant","z":"","host":"673b59eb-0f4a-4314-9aa4-9e53824935ed-bluemix.cloudant.com","name":""}]
